:root {
  --accent-color: #2196f3;
  --another-color: #212121;
  --subtitle-color: #757575;
  --headbg-color: #ffffff;
  --logo-color: #000000;
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --contact-color-footer: rgba(255, 255, 255, 0.6);
  --border-portfolio: #eeeeee;
  --border-header: #ececec;
  --hero-background: #c4c4c4;
  --bg-color-detail: #f5f4fa;
  --icon-fill: #afb1b8;
  --bg-color-icon-footer: rgba(255, 255, 255, 0.1);
  --bg-color-btn-hero-hover: #188ce8;
  --bg-color-doing: rgba(47, 48, 58, 0.8);
  --bg-color-overlay: rgba(33, 150, 243, 0.9);
  --border-form: rgba(255, 255, 255, 0.3);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer, .clients-list__link, .detail-list__icon, .header-container, .form-send, .modal-close, .list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--another-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.list-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--headbg-color);
  fill: var(--icon-fill);
  transition: background-color var(--transition-hover);
}
.list-social__link:hover, .list-social__link:focus {
  background-color: var(--accent-color);
}
.list-social__link:hover .list-social__icon, .list-social__link:hover .list-social__icon, .list-social__link:focus .list-social__icon, .list-social__link:focus .list-social__icon {
  fill: var(--headbg-color);
}

.list-social__icon {
  transition: fill var(--transition-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc);
  transition: opacity var(--transition-hover), transform var(--transition-hover), visibility var(--transition-hover);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  background: var(--headbg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--headbg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
}

.modal-close__icon {
  transition: fill var(--transition-hover);
}
.modal-close:hover .modal-close__icon, .modal-close:focus .modal-close__icon {
  fill: var(--accent-color);
}

.form-top-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  cursor: pointer;
  color: var(--subtitle-color);
}

.form__comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-hover);
}
.form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-hover);
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form-send__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 55px;
  color: #ffffff;
  transition: background-color var(--transition-hover);
}
.form-send__btn:hover, .form-send__btn:focus {
  background-color: var(--bg-color-btn-hero-hover);
}

.form__wrapper {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-hover);
}

.form-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-check__nocheck {
  position: absolute;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--another-color);
  border-radius: 4px;
  margin-left: 13px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: var(--headbg-color);
}

.form-check__img {
  position: absolute;
  margin-left: 13px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-check__text {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 30px;
  margin-left: 36px;
  cursor: pointer;
}

.span {
  position: relative;
}

.form-check__input:checked + .form-check__nocheck {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: var(--headbg-color);
  border: 1px solid var(--border-header);
}

.logo_header {
  margin-right: 93px;
  color: var(--logo-color);
}

.logo__accent {
  color: var(--accent-color);
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--another-color);
  transition: color var(--transition-hover);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link.current {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.header-contact .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  fill: var(--subtitle-color);
  transition: color var(--transition-hover);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__icon {
  transition: fill var(--transition-hover);
  margin-right: 10px;
}
.header-contact__link:hover .header-contact__icon, .header-contact__link:focus .header-contact__icon {
  fill: var(--accent-color);
}

.section-hero {
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 198px;
}

.section-hero_img {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img-hero.jpg);
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.section-hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--headbg-color);
}

.service-button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--headbg-color);
  transition: background-color var(--transition-hover);
}
.service-button:hover, .service-button:focus {
  background-color: var(--bg-color-btn-hero-hover);
}

.detail-list {
  display: flex;
  gap: 30px;
}

.detail-list__subtitle {
  margin-bottom: 10px;
}

.detail-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}

.detail-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  width: 270px;
  height: 75px;
}

.detail-list__icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-detail);
  border-radius: 4px;
}

.section_doing {
  padding-top: 0px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-list__item {
  position: relative;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.doing-list__wrapper-text {
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  background-color: var(--bg-color-doing);
  z-index: 100;
}

.doing-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  color: var(--headbg-color);
}

.section_team {
  background: var(--team-background);
}

.team-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.team-list__item {
  background: var(--headbg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__border {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-list__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  fill: var(--icon-fill);
  transition: fill var(--transition-hover), border var(--transition-hover);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  background-color: var(--footer-background);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container_align {
  display: flex;
  align-items: baseline;
}

.wrapper-address {
  margin-right: 70px;
}

.logo_footer {
  font-style: normal;
  color: var(--headbg-color);
  display: block;
  margin-bottom: 20px;
}

.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--headbg-color);
  margin-bottom: 9px;
}

.footer-list__item:first-child {
  margin-bottom: 9px;
}

.footer-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-color-footer);
  transition: color var(--transition-hover);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}

.text-footer {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headbg-color);
  margin-bottom: 20px;
}

.link-team_footer {
  background-color: var(--bg-color-icon-footer);
  fill: var(--headbg-color);
  transition: background-color var(--transition-hover);
}
.link-team_footer:hover, .link-team_footer:focus {
  background-color: var(--accent-color);
}

.form-footer {
  margin-left: auto;
}

.form-footer-cursor {
  cursor: pointer;
}

.input-footer {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--border-form);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-right: 12px;
  background-color: var(--footer-background);
  color: var(--contact-color-footer);
}
.input-footer::placeholder {
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contact-color-footer);
}

.btn-footer {
  padding: 10px 28px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-footer__text {
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: var(--headbg-color);
}

.wrapper-form {
  display: flex;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.filter__item {
  border-radius: 4px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 20px;
  transition: background-color var(--transition-hover), color var(--transition-hover), box-shadow var(--transition-hover);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--headbg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__item {
  background-color: var(--headbg-color);
}

.portfolio-list__border {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-hover);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--headbg-color);
  background-color: var(--bg-color-overlay);
  padding: 63px 24px;
}
.portfolio-list__link:hover .portfolio-list__text, .portfolio-list__link:focus .portfolio-list__text {
  transform: translate(0, 0);
}

.portfolio-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--another-color);
}

.portfolio-list__title {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--transition-hover);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */