@media screen and (max-width: 1199px) {
	.list-social {
		margin-bottom: 60px;
	}
	.btn-footer {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: auto;

		padding-top: 10px;
		padding-right: 28px;
		padding-bottom: 10px;
		padding-left: 28px;
		border: none;
		background: #2196f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
	}
}
.footer {
	background-color: var(--footer-background);
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container_align {
	text-align: center;
}

.wrapper-address {
	margin-bottom: 60px;
}

.logo_footer {
	font-style: normal;
	color: var(--headbg-color);
	display: block;
	margin-bottom: 20px;
}

.address__text {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--headbg-color);
	margin-bottom: 9px;
}

.footer-list__item:first-child {
	margin-bottom: 9px;
}

.footer-list__link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--contact-color-footer);
	transition: color var(--transition-hover);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.text-footer {
	font-style: normal;
	@include font($font-weight: 700);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--headbg-color);
	margin-bottom: 20px;
}

.list-social {
	margin-bottom: 60px;
}

.link-team_footer {
	background-color: var(--bg-color-icon-footer);
	fill: var(--headbg-color);
	transition: background-color var(--transition-hover);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.form-footer-cursor {
	cursor: pointer;
}

.input-footer {
	padding: 15px 16px;
	width: 100%;
	border: 1px solid var(--border-form);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
	margin-bottom: 20px;
	background-color: var(--footer-background);
	color: var(--contact-color-footer);
	&::placeholder {
		font-size: 16px;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: var(--contact-color-footer);
	}
}

.btn-footer__text {
	font-style: normal;
	font-weight: 700;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	margin-right: 10px;

	color: var(--headbg-color);
}

@media screen and (min-width: 768px) {
	.wrapper-address-icon {
		display: flex;
		justify-content: space-around;
	}

	.input-footer {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1200px) {
	.footer-container_align {
		display: flex;
	}
	.wrapper-address {
		margin-right: 70px;
	}
	.form-footer {
		margin-left: auto;
	}
	.input-footer {
		width: 358px;
		margin-right: 12px;
	}

	.footer-container_align {
		text-align: left;
	}
	.wrapper-form {
		display: flex;
	}

	.btn-footer {
		display: flex;
		align-items: center;

		height: 50px;
		padding-top: 10px;
		padding-right: 28px;
		padding-bottom: 10px;
		padding-left: 28px;
		border: none;
		background: #2196f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
	}
}
