.section-hero {
	background-color: var(--hero-background);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 198px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.section-hero_img {
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero/Img-hero-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	(min-resolution: 192dpi) and (max-width: 767px),
	(min-resolution: 2dppx) and (max-width: 767px) {
	.section-hero_img {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero/Img-hero-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.section-hero_img {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero/Img-hero-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	(min-resolution: 192dpi) and (min-width: 768px),
	(min-resolution: 2dppx) and (min-width: 768px) {
	.section-hero_img {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero/Img-hero-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.section-hero_img {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img-hero.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	(min-resolution: 192dpi) and (min-width: 1200px),
	(min-resolution: 2dppx) and (min-width: 1200px) {
	.section-hero_img {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img-hero@2x.jpg);
	}
}

.section-hero__title {
	margin-bottom: 30px;
	@include font(900, 26px, 42px);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--headbg-color);
}

.service-button {
	padding: 10px 32px;
	font-family: inherit;
	@include font(700, 16px, 30px);
	letter-spacing: 0.03em;
	border: none;
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--headbg-color);
	transition: background-color var(--transition-hover);
	&:hover,
	&:focus {
		background-color: var(--bg-color-btn-hero-hover);
	}
}

@media screen and (min-width: 1200px) {
	.section-hero__title {
		@include font(900, 44px, 60px);
	}
}
