.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.filter__item {
  border-radius: 4px;
}

.filter__button {
  font-family: inherit;
  @include font($font-size: 16px, $line-height: 26px);
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 20px;
  transition: background-color var(--transition-hover),
    color var(--transition-hover), box-shadow var(--transition-hover);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--headbg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__item {
  background-color: var(--headbg-color);
}

.portfolio-list__border {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-hover);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--headbg-color);
  background-color: var(--bg-color-overlay);
  padding: 63px 24px;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translate(0, 0);
  }
}

.portfolio-list__subtitle {
  @include font(700, 18px, 36px);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--another-color);
}

.portfolio-list__title {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--transition-hover);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
