.mobile-menu__container {
  position: relative;
}

.mobile-menu {
  padding: 48px 40px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--headbg-color);
}

.mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  border: none;
  background-color: transparent;
  // transition: color var(--transition-hover);
  &:hover .mobile-menu-close__icon,
  &:focus .mobile-menu-close__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu-nav {
  margin-bottom: 302px;
}

.mobile-menu-nav__link {
  @include font($font-size: 40px, $line-height: 47px);
  letter-spacing: 0.02em;
  color: var(--another-color);
  transition: color var(--transition-hover);
  &.current {
    color: var(--accent-color);
  }
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-menu-contact__item {
  margin-bottom: 32px;
}

.mobile-menu-contact__tel {
  @include font($font-size: 34px, $line-height: 40px);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contact__mail {
  @include font($font-size: 24px, $line-height: 28px);
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.mobile-menu-social {
  display: flex;
  gap: 20px;
}

.mobile-menu-social__link {
  @include font($font-size: 18px, $line-height: 22px);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
